*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
nav{
    background-color: rgb(83, 83, 83);
}

nav ul{
    width: 56rem;
    margin: 0 auto;
}

nav ul li{
    list-style-type: none;
    float: left;
    width: 8rem;
    text-align: center;
    line-height: 3rem;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    border-bottom: 2px solid #e2beae ;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Main */
.first_photo{
    background-color: black;
}

.first_photo img{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 6rem;
}

main h2{
    text-align: center;
    margin-top: 8rem;
}
main h2 span{
    font-size: 3rem;
}

.second_photo img{
    width: 500px;
    display: block;
    margin: 0 auto;
    transform: rotate(15deg);
}
.section1 h2{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 4rem;
}